@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

#root {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07), 0 64px 128px rgba(0, 0, 0, 7);
  border-radius: 100px;
  margin: 3em;
  padding: 0;
  background-color: #1A1B21;
  border-radius: 15px 15px 0 0;
}

body {
    background-color: #23252c;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
 }
 
.border-box {
     width: 75%;
     padding: 3rem;
     background-color: #23252C;
     display: flex;
     align-content: center;
     justify-content: center;
 }

.header{
  text-align: center;
}

.profile-img {
    text-align: center;
    border-radius: 10px;
    margin-top: 25px;
 }
 
.container {
    width: 317px; 
    background-color: #1A1B21; 
    text-align: center;
    padding: 0 2em 2em 2em;
    border-radius: 15px;
}

h1 {
    font-size: 25px;
    text-align: center;
    margin: 1.5rem 0 0.5rem 0;
    font-size: 35px;
    letter-spacing: -0.03rem;
}

h4 {
    color: #F3BF99;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    margin: 5px 0px 5px 0px;
    text-align: center;
}

.interests-title {
  font-weight: 700;
  font-size: 33px;
  color: #F5F5F5;
  margin-bottom: 35px;
  margin-top: -30px;
}

.interests-paragraph {
  list-style: none;
  justify-items: center;
  margin-right: 35px;
}

a {
    text-decoration: none; 
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #F5F5F5;
}

.button-section {
    display: flex;
    padding: 1.5rem 0 0 0;
    margin: 0 1rem;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

button {
    box-shadow: 0px 1px 2px 0px #0000000D;
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 115px;
    height: 34px;
    font-weight: 500;
    border-radius: 6px;
}

button > span { 
    /* padding: 11px 0 9px 0; */
    font-size: 14px;
    line-height: 16px;
    color: #374151;
}

.text-section {
    margin: 2.5rem 2rem;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 150%; 
    text-align: left;
    color: #DCDCDC;    
}

.text-section > h4 {
    font-weight: 700;
    font-size: 33px;
    color: #F5F5F5;
    margin-bottom: 35px;
    margin-top: -30px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 2em;
    background-color: #161619;
    border-radius: 0px 0px 15px 15px;
    width: 317px;
}

.footer--icon{
  cursor: pointer;
}